<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">

   
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
   
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='font-awesome.min.css') }}">

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='/font-awesome-4.7.0/css/font-awesome.min.css') }}">
   
    <title>About Page</title>
</head>
<body>
    <section class="sub-header">

        <nav>
            <a href="/"><img src= "{{ url_for('static', filename='images/greenlogo.png') }}" alt="logo"></a>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="/">HOME</a></li>
                    <!-- <li><a href="/about">ABOUT PROJECT</a></li>
                    <li><a href="/waste">WASTE INDUSTRY</a></li>
                    <li><a href="/recycle">RECYCLING</a></li>
                    <li><a href="/bot">GREEN-BOT</a></li> -->
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>
        <h1>About Project</h1>
        </div>

    </section>

    <section class="about">
        <h1>WHY DID WE GET INTO THIS </h1>
        <p>The main objective of this study is to examine the present situation of solid waste management in Sri Lanka whilst in determining the nature and extent of the problem, thereby identifying
            the challenges and  opportunities towards maintaining  a sustainable waste  management system  in the  country. As  a result, the study has identified several challenges, of 
            which the absence of waste segregation, poor waste collection mechanisms and the lack of public commitment on waste management, to be some of the underlying causes of the 
            prevailing issue. Thus, the prevailing system on waste collection, transportation and disposal aspects is nevertheless believed to be an issue that needs to be resolved. 
            This is due to the lack of education and awareness amongst the public on  waste management.  In this context, awareness through education and a changing in attitude of the public 
            may be suggested as precautionary methods  towards maintaining  a  sustainable waste  management  system. The  participation  of the  public  is  to be quoted as essential,  and it 
            should be borne in  mind, that this  is not  a feat that can be accomplished via a limited operation,  but rather  one which  needs  to  be continued  and  maintained through  
            ongoing efforts,  in keeping  the menace at a minimum. Thus, a new model for waste management is required for collection, transportation and the disposal  of  waste,  which  should
            not  be  harmful  to  the  society  nor  to  the  environment.  The  existing  waste management policy of the country should be further developed by considering the concept of 
            zero waste, alternative waste  management  approaches  like  waste  to  energy,  sanitary  landfills  and  the  acceleration  of  composting methodology, thereby leading the 
            pathway towards enhanced sustainability.
        </p><br><br><br>
         
        <h2>REAL WORLD EXAMPLES</h2>
        <p>Most of the developing countries face the problem of managing waste properly. In 2012, cities world over, generated 1.3 billion tons of solid waste per year, amounting to a footprint
            of 1.2 kilograms per person, per day needless to state that with  rapid population  growth and  urbanization, the  municipal waste  generation is expected to  increase to 2.2 
            billion tons (MT) by 2025. Inadvertently, with the current trends continuing, it is likely to rise from 3.5 MTs to 6 MTs per day with, each person generating around 0.64 kg waste 
            per day <b> in Sri Lanka with an estimated 4.8 billion MT of waste collected per annum in the country. </b>
        </p><br><br><br>
       
        <h1>WHAT IS <span style="color: green;"> GREEN-BOT </span></h1>
        <p>A rapid increase in population worldwide has led to unacceptable management of waste in various countries, leading to various health problems and environmental pollution. Waste
            collection trucks only collect waste once or twice every seven days. Informal waste collection practices result in waste from the dustbin being scattered on the road. Thus, this
            web page is proposed to create an AI base chat bot to defeat this situation. Thus, the proposed solution for efficient waste management serves the purpose of establishing clean
            and pollution-free cities. This chat bot plans to provide a good understanding of the classification of wastes disposed of from homes and whether the wastes can be reused, the 
            solutions for that as well as the systematic disposal of wastes.
        </p><br><br><br>

        <h1> HOW <span style="color: green;">GREEN-BOT</span> WORKS </h1>
        <p>A chatbot is a machine conversational system that communicates with humans through natural language processing (NLP). Created various chatbots using software for machine learning 
            conversations from a simulated forum. Artificial intelligence, often called machine intelligence, is the intelligence exhibited by computers. Instead of dealing with huge amounts of 
            data, today's machine learning approaches have evolved into more powerful and efficient deep learning methods. And artificial intelligence is the research and development of 
            technologies that allow computers to perform actions that require human intelligence to capture scarce intellectual resources and promote and use them online. There is one based on 
            machine learning and artificial intelligence (AI) techniques. It is also called "dialog system" or "dialog agent". It can also be used for personal support. In modern society, this 
            is a more valuable platform because it can support our own technologies such as computers and mobile phone devices. A chatbot is a conversational agent that uses a computer program 
            to simulate intelligent speech. There are many open source platforms for creating chatbots. Artificial Intelligence Markup Language (AIML), built on Extensible Markup Language (XML),
            is a language for artificially creating chat bots.
        </p><br><br><br>

        <h1>KEY FEATURES</h1>
        <p>◦	Designed to be user-friendly and easy to use. <br><br>
            ◦	The chatbot helps its users classify waste and calculate the amount of waste to be disposed of at home. <br><br>
            ◦	Comments are made to get garbage sorting advice soon. <br><br>
            ◦	Helps in learning the basics of waste management like finding the nearest waste disposal point.<br><br>
            ◦	Created a single entry point for all questions and queries with useful information on waste recycling.<br><br>
            ◦	Provides low response time and automated general service support.<br><br>
            ◦	Volunteers are allowed to be allocated to other important recycling program initiatives.<br><br>
            ◦	This helps foster a more sustainable community.
        </p><br><br><br>

        <h1>FUTURE <span style="color: green;"> GREEN-BOT</span></h1>
        <p>We plan to improve this system further. <br>
            ◦	We currently use bins to sort waste and hope to improve how we use it to measure its content in the future. That is, he is interested in calculating data through a cam scanner. For example, some glass bottles and some plastic bottles are scanned by the camera and the number of plastic bottles and the number of glass bottles are expected to be analyzed separately. <br><br>
            ◦	Add a Voice Assistant to the chat system.
            ◦	It is also planning to fix some bugs in this system and create a more effective system than the current system. <br><br>
            ◦	For the user to easily understand the data, I hope to show the classification of waste from homes and the mass or quantity of the classified waste through a graph. <br><br>
            ◦	I am currently implementing this system through a web page and have a chat bot attached to the web page itself. But most of the people are used to doing everything by mobile. Therefore, I hope to present this system through a mobile app. There anyone will be able to connect with this at any time.</p><br><br><br>
        
            <h3>Future <span style="color: green;">Green-Bot</span> Mobile App </h3><br>
            <img src="images/UI2.png" alt="Ui" width="800px">
            <p>*This is a sample image</p>
        
    </section>

    