<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
   
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='font-awesome.min.css') }}">

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='/font-awesome-4.7.0/css/font-awesome.min.css') }}">
   
    <title>Recycling</title>
</head>
<body>
    <section class="sub-header4">

        <nav>
            <a href="/"><img src= "{{ url_for('static', filename='images/greenlogo.png') }}" alt="logo"></a>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="/">HOME</a></li>
                    <!-- <li><a href="/about">ABOUT PROJECT</a></li>
                    <li><a href="/waste">WASTE INDUSTRY</a></li>
                    <li><a href="/recycle">RECYCLING</a></li>
                    <li><a href="/bot">GREEN-BOT</a></li> -->
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>
        <h1>RECYCLING</h1>
        </div>

    </section>
    

    <!----bins---->
    <section class="bins">
        <h1>What is Recycle ?</h1>
        <p> Recycling is the process of turning trash into new products and materials. This idea frequently takes the recovery of energy from waste materials into account. The capacity of a substance to regain the qualities it had in its initial state determines how recyclable it is. [1] It is an alternate method of disposing of garbage to the "traditional" one that can assist conserve resources and reduce greenhouse gas emissions. Additionally, it can limit the use of new raw materials and stop the waste of potentially usable materials, which will cut down on energy use, air pollution (from incineration), and water contamination (from landfilling).
         </p><br><br>

         <h2>Benefits of Recycling</h2>
        <p> Recycling is the process of turning trash into new products and materials. This idea frequently takes the recovery of energy from waste materials into account. The capacity of a substance to regain the qualities it had in its initial state determines how recyclable it is. [1] It is an alternate method of disposing of garbage to the "traditional" one that can assist conserve resources and reduce greenhouse gas emissions. Additionally, it can limit the use of new raw materials and stop the waste of potentially usable materials, which will cut down on energy use, air pollution (from incineration), and water contamination (from landfilling).
         </p>


    </section>

    <section class="ways">
        <h1>Alternatives for Waste Recycle</h1> 
        <p> • making a "copper wire tree" using the copper wires. <br><br>
            <img src="images/coppertree.jpg" alt="coppertree" width="250px" style="margin-right: 50px;"> <br>
            • create a reusable clock on a hard disk ( that use a disposal computer part). <br><br>
            <img src="images/clock.jpg" alt="clock" width="250px" style="margin-right: 50px;"> <br>
            • create pencil holders, pencil cases, photo frames and key tags from keyboards. <br><br>
            <img src="images/pencilholder.jpg" alt="pencilholder" width="250px" style="margin-right: 50px;"> <br>
            • removable CTR monitors can be used as fish tanks as well as used to grow plants. <br><br>
            <img src="images/moniter.jpg" alt="moniter" width="250px" style="margin-right: 50px;"> <br>
            • create beautiful decorative designs such as photo frame, ornaments by using CD's DVD's. <br><br>
            <img src="images/dvd.jpg" alt="moniter" width="250px" style="margin-right: 50px;"> <br>
            • Turn old cans into a beautiful lanterens <br><br>
            <img src="images/can.jpg" alt="can" width="250px" style="margin-right: 50px;"> <br>
            </p>


    </section>

    <section class="methods">
        <h1>Steps to Recycling Materials</h1>
        <p>Industrial waste recycling involves a couple of processes, some of which are processing, transportation, and reselling. All these processes require a workforce with unique skill sets. As much as 30 more jobs can be created through recycling and reuse than incinerators and landfills.</p>
        
        <div class="row">
            <div class="methods-col">
                <h3>Collection and Processing</h3>
                <p>Recycling can be collected in a variety of ways, including curbside pickup, drop-off locations, and deposit or reimbursement schemes.
                    Recyclables are sent to a recovery facility after collection so they may be sorted, cleaned, and converted into resources for production.
                    <br></p>
            </div>
            <div class="methods-col">
                <h3>Manufacturing</h3>
                <p>Today's items are being made from recycled materials in increasing numbers. The following common home products contain recycled materials: <br>
                    • Paper towels and newspapers. <br>
                    • Soft drink made of glass, plastic, and aluminum. <br>
                    • Metal cans. <br>
                    • Bottles of plastic washing detergent. <br>
                    <br></p>
            </div>
            <div class="methods-col">
                <h3>Purchasing New Products Made from Recycled Materials</h3>
                <p>By purchasing new items created from recycled materials, you can contribute to the recycling cycle. There are countless items on the market with recycled material. When you shop, keep the following in mind: <br>
                    • Products that can be easily recycled. <br>
                    • Products that contain recycled content
                    
                    <br></p>
            </div>
        </div><br>

        <h2>Recycling Creates Jobs</h2>
        <p>Beginning with the collecting of recyclable materials from places including homes, drop-off facilities, construction and demolition centers, and companies, recycling is a comprehensive procedure. Following collecting, these recyclables undergo a careful sorting procedure to separate diverse materials and products of differing grade. For instance, certain worn clothes may be used in textile recycling without additional processing. After cleaning, the reusable apparel may be distributed or sold again.
            Collectible materials for recycling like plastic, paper, metal, and glass must undergo a rigorous procedure before they can be used as raw materials for the creation of new products. Recycling enterprises require various levels of trained and semi-skilled workers to undertake recycling sector operations, from the gathering of materials through selling them. By offering recycling training services, a large number of recycling organizations and businesses contribute significantly to raising societal awareness.
        </p><br><br>
  
        <img src="images/process.png" alt="" width="800px"> <br><br><br>
    </section>